<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 爱情转移</string>
		<key>lrc</key>
		<string>爱情转移</string>
		<key>time</key>
		<string>04:22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 最佳损友</string>
		<key>lrc</key>
		<string>最佳损友</string>
		<key>time</key>
		<string>03:53</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 红玫瑰</string>
		<key>lrc</key>
		<string>红玫瑰</string>
		<key>time</key>
		<string>03:59</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 好久不见</string>
		<key>lrc</key>
		<string>好久不见</string>
		<key>time</key>
		<string>04:10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 十年</string>
		<key>lrc</key>
		<string>十年</string>
		<key>time</key>
		<string>03:26</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 一丝不挂</string>
		<key>lrc</key>
		<string>一丝不挂</string>
		<key>time</key>
		<string>04:02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 陪你度过漫长岁月</string>
		<key>lrc</key>
		<string>陪你度过漫长岁月</string>
		<key>time</key>
		<string>04:02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 打回原形</string>
		<key>lrc</key>
		<string>打回原形</string>
		<key>time</key>
		<string>04:10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 浮夸</string>
		<key>lrc</key>
		<string>浮夸</string>
		<key>time</key>
		<string>04:45</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - 淘汰</string>
		<key>lrc</key>
		<string>淘汰</string>
		<key>time</key>
		<string>04:45</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅 - K歌之王</string>
		<key>lrc</key>
		<string>K歌之王</string>
		<key>time</key>
		<string>03:38</string>
	</dict>
</array>
</plist>
